# This file is managed by Ansible, all changes will be lost.
Name={{ item.name }}
{% if 'address' in item %}
Address={{ item.address }}
{% endif %}
Port={{ item.port | default('655') }}
Compression={{ item.compression | default('0') }}
Subnet={{ item.subnet }}

{{ item.public_key }}
